## Basic Code for Python

In [1]:
print("Hello, Python!")

Hello, Python!

In [2]:
# Snippet of code significa "Fragmento de código"

In [4]:
print("Hello world")

Hello world

In [5]:
type(12)

int

In [6]:
type(3.1418)

float

In [7]:
type("Hola")

str

In [8]:
x= 1+1

In [9]:
type(x)

int

In [10]:
y= 2.5*3

In [11]:
type(y)

float

In [13]:
import sys

In [14]:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [15]:
int(3.1416)

3

In [16]:
float(3)

3.0

In [17]:
str(x)

'2'

In [18]:
float(y)

7.5

In [20]:
type(True)

bool

In [21]:
int(True)

1

In [22]:
float(False)

0.0

### Strings

In [23]:
Z= 'Me gustan las llamas'

In [26]:
Z[::2]

'M utnlslaa'

In [27]:
Z[::3]

'Mgt sla'

#### String Operations

In [28]:
A = "me gustan las manzanas"
B = A.upper()

In [29]:
B

'ME GUSTAN LAS MANZANAS'

In [31]:
C = "ME GUSTAN LAS PERAS"
D = C.lower()

In [32]:
D

'me gustan las peras'

In [33]:
C.find("peras")

-1

In [35]:
C.replace("PERAS","UVAS")

'ME GUSTAN LAS UVAS'

In [37]:
str("1+1")

'1+1'

### Tuples

In [1]:
Tuple_1=("Marco", "Polo",143,14.25)

In [2]:
type(Tuple_1)

tuple

In [3]:
Tuple_1[0]

'Marco'

In [5]:
Tuple_1[3]

14.25

In [6]:
# Slicing
Tuple_1[0:2]

('Marco', 'Polo')

In [7]:
Tuple_1[1:3]

('Polo', 143)

In [8]:
print(type(Tuple_1[0]))

<class 'str'>

In [11]:
# To concatenate tuples
Tuple_2 = ("Best", "geographer", "was") + Tuple_1
Tuple_2

('Best', 'geographer', 'was', 'Marco', 'Polo', 143, 14.25)

In [13]:
#Sorting
Ratings= (0,2,4,5,1,7,9,5,10)
Sorted_Ratings = sorted(Ratings)
Sorted_Ratings

[0, 1, 2, 4, 5, 5, 7, 9, 10]

In [14]:
# Nesting Tuples
NT = (1,2,3,("R", "V", "G"),(4,5),"Jordania")

In [15]:
len(NT)

6

In [16]:
print("Element 0 of NT:", NT[0])

Element 0 of NT: 1

In [17]:
print("Element 5 of NT:", NT[4])

Element 5 of NT: (4, 5)

In [19]:
# Indexing complex tuples
print("Second element of the fourth element of NT:", NT[3][1])

Second element of the fourth element of NT: V

### Lists

Lists are very simmilar to tuples, but with an important difference: Lists are mutable

In [20]:
L = [1,2,3,4,5,6,7]

In [21]:
len(L)

7

In [23]:
L[0]="Uno"
L

['Uno', 'Uno', 3, 4, 5, 6, 7]

In [26]:
L.remove(L[1])
L

['Uno', 4, 5, 6, 7]

In [27]:
L.append([8,9,10])
L

['Uno', 4, 5, 6, 7, [8, 9, 10]]

In [28]:
L.extend([11,12,13,14])
L

['Uno', 4, 5, 6, 7, [8, 9, 10], 11, 12, 13, 14]

In [31]:
L[0]= [1,2,3]
L

[[1, 2, 3], 4, 5, 6, 7, [8, 9, 10], 11, 12, 13, 14]

In [32]:
"Perros de la Calle"

'Perros de la Calle'

In [37]:
P= "Perros de la Calle".split()
P

['Perros', 'de', 'la', 'Calle']

In [39]:
[1,2,3,5,6,67,7,"Marco Antonio"]

[1, 2, 3, 5, 6, 67, 7, 'Marco Antonio']

In [46]:
"S","V","D","G","D","GH","W".split()

('S', 'V', 'D', 'G', 'D', 'GH', ['W'])

In [53]:
AZ= ["Arizona", "Texas", "New Mexico"]

CAL = AZ

CAL

AZ[0]= "Nevada"

#AZ

CAL

['Nevada', 'Texas', 'New Mexico']

In [55]:
CEL=AZ[:]
CEL

['Nevada', 'Texas', 'New Mexico']

In [57]:
AZ[0]="Arizona"
AZ

['Arizona', 'Texas', 'New Mexico']

In [58]:
CAL

['Arizona', 'Texas', 'New Mexico']

In [59]:
CEL

['Nevada', 'Texas', 'New Mexico']

### Dictionary

In [61]:
DICT = {"Torres": 24, "Arroyo": 23, "Caro": 22, "Juan": [24,25,26,27]}
DICT

{'Torres': 24, 'Arroyo': 23, 'Caro': 22, 'Juan': [24, 25, 26, 27]}

In [62]:
DICT["Caro"]

22

In [63]:
DICT["Juan"]

[24, 25, 26, 27]